* {
    box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#bg-video {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}


.hidden-image {
  opacity: 0;
}

.pokemon-image {
  transition: opacity;
  transition-duration: 2s;
  opacity: 1;
  height: 850px;
  overflow: hidden;
}

.img-bottom-right {
  margin-bottom: 50%;
  position: absolute;
  top: 150px;
  /* margin-left: 914px; */
  position: absolute;
    right: 5px;
}

.pokemon-info {
  background: rgba(0, 0, 0, 0);
}

.main-name {
  top: 195px;
  left: 60px;
  position: fixed;
  display: inline;
  color: #fff;
  font-size: 7.6rem;
  line-height: 7.5rem;
  text-align: left;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0.5rem 1rem rgba(0,0,0,.56), 0 0 2rem rgba(0,0,0,.56);
}

.bg-name {
  position: absolute;
  z-index: -1;
  display: inline;
  top: -210px;
  margin-left: -93px;
  color: #000;
  font-size: 27.6rem;
  opacity: 0.35;
  line-height: 7.5rem;
  text-align: left;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0.5rem 1rem rgba(0,0,0,.56), 0 0 2rem rgba(0,0,0,.56);
}

.light-name {
  color: #909090 !important;
}

/* SELECT SCREEN */

.select-screen {
  text-align: center;
}

.electabuzz {
  right: -229px !important;
}

.pokemon-info {
  position: absolute;
  background-color: rgba(0,0,0,.56);
  color: #fff;
  padding: 10px 30px;
  max-width: 45%;
  top: 57%;
  left: 4%;
  border-radius: 6px;
}

.pokemon-info p {
  letter-spacing : 1.06667px;
  line-height : 37.1333px;
  word-spacing: 0px;
  font-size: 25.6px;
}
