html {
  background: #e5e5e5;
}

.select-screen {
  padding-top: 120px;
  text-align: center;
}

.page-header {
  color: #fff;
  font-size: 3.6rem;
  line-height: 7.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2.3px 2.3px rgba(0,0,0,.56);
  /* text-shadow: 0 0.5rem 1rem rgba(0,0,0,.56), 0 0 2rem rgba(0,0,0,.56); */
}

.pokemon-thumb {
  transition: transform;
  transition-duration: 0.3s;
}

.pokemon-thumb:hover {
  border: 9px solid rgba(208, 1, 27, 0.77);
  transform: scale(1.2, 1.2);
}
